<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="$(find test)/worlds/singlePillar.world"/>
  <arg name="laser_enabled" default="true"/>
  <arg name="kinect_enabled" default="false"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
  </include>
</launch>